
.container {
	height: 100vh;
	width: 100vw;
	margin: 0px;
}

.top{
	height: 50vh;
	width: 100vw;
	display: flex;
	flex-wrap: wrap;
}

.bottom{
	height: 50vh;
	width: 100vw;
	display: flex;
	flex-wrap: wrap;
}

.box{
	height: 100%;
	width: 25%;
}

.hover:hover {
	box-shadow: 0px 0px 150px #000;
	z-index: 2;
	-ms-transition: all 200ms ease-in;
	-ms-transform: scale(1.01);   
	-moz-transition: all 200ms ease-in;
	-moz-transform: scale(1.01);
	transition: all 200ms ease-in;
	transform: scale(1.01);
}

@media screen and (max-width: 1000px){
	
	.container {
		height: 100vh;
		width: 100vw;
	}

	.top{
		height: 100vh;
		width: 100vw;
		display: flex;
		flex-wrap: wrap;
	}

	.bottom{
		height: 100vh;
		width: 100vw;
		display: flex;
		flex-wrap: wrap;
	}

	.box{
		height: 50%;
		width: 50%;
	}

	.hover:hover {
		box-shadow: 0px 0px 150px #000;
		z-index: 2;
		-ms-transition: all 200ms ease-in;
		-ms-transform: scale(1.01);   
		-moz-transition: all 200ms ease-in;
		-moz-transform: scale(1.01);
		transition: all 200ms ease-in;
		transform: scale(1.01);
	}
}
.ronaldo{
	content:url(images/ronaldo.png);
	background-color: #007277;
}

.messi{
	content:url(images/messi.png);
	background-color: #4d0013;
}

.zlatan{
	content:url(images/zlatan.png);
	background-color: #c0c0c0;
}

.pogba{
	content:url(images/pogba.png);
	background-color: #CC0000;
}

.dybala{
	content:url(images/dybala.png);
	background-color: black;
}

.debruyne{
	content:url(images/debruyne.png);
	background-color:  #89cff0 ;
}
.hazard{
	content:url(images/hazard.png);
	background-color: blue;
}
.reus{
	content:url(images/reus.png);
	background-color: gold;
}
